<div>
  <h1>Creacion de Cliente</h1>

  <div class="row text-right">
    <div class="col">
      <button class="btn btn-warning" routerLink="/clientes">Regresar</button>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col">
    <form (ngSubmit)="crear(f)" #f="ngForm">
      <div class="from-group">
        <label>ID</label>
        <input
          type="text"
          class="form-control"
          disabled="disabled"
          [(ngModel)]="cliente.id"
          name="id"
        />
        Este campo no se puede modificar
      </div>

      <div class="from-group">
        <label>Nombre</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="cliente.nombre"
          name="nombre"
          required
        />
      </div>

      <div class="from-group">
        <label>Apellido</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="cliente.apellido"
          name="apellido"
          required
        />
      </div>

      <div class="from-group">
        <label>Edad</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="cliente.edad"
          name="edad"
          required
        />
      </div>

      <div class="from-group">
        <label>Fecha de nacimiento</label>
        <input
          type="date"
          class="form-control"
          [(ngModel)]="cliente.fecha_nacimiento"
          name="fecha_nacimiento"
          required
        />
      </div>

      <hr />

      <div class="form-group text-center">
        <button *ngIf="btn_crear" type="submit" class="btn btn-primary">Crear Cliente</button>
        <button *ngIf="!btn_crear" type="submit" class="btn btn-primary">Actualizar Cliente</button>
      </div>
    </form>
  </div>
</div>
